@import 'functions';

@mixin cblhub-styles {
  @include foundation-global-styles;
  @include foundation-typography;
}

@mixin cblhub-grid($n: 3, $gutter: $global-margin) {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: $gutter/2;

  & > * {
    margin: $gutter/2;
    width: calc(#{percentage(1/$n)} - #{$gutter}) !important;
  }
}

@mixin cblhub-field-error {
  color: palette(alert);
  font-size: 0.8rem;
  margin-top: -0.8rem;
  margin-bottom: 1rem;
}

@mixin cblhub-dialog ($palette) {
  @include callout(palette($palette))
}

@mixin cblhub-paper {
  @include clearfix;
  background-color: $white;
}

@mixin cblhub-button($expand: false, $background: $button-background) {
  @include button($expand, $background);
  margin: 0;
  
  &[disabled] {
    @include button-disabled;
  }
}

@mixin cblhub-forms {
  @include foundation-forms;
}

@mixin fit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
