@import 'functions';

$primaryColor: #d4145a;
$secondaryColor: #2196f3;
$backgroundColor: #fff;
$secondaryBackgroundColor: darken($backgroundColor, 10%);
$foregroundColor: contrast($backgroundColor, 85%);
$secondaryForegroundColor: contrast($backgroundColor, 60%);
$focusedColor: contrast($backgroundColor, 15%);
$separatorColor: contrast($backgroundColor, 20%);
