@import '../../styles/main';

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: $global-padding;

  .card {
    @include cblhub-paper;
    width: rem-calc(960);
    padding: $global-padding;
    margin: $global-margin;

    @include breakpoint(small only) {
      width: 100%;
      margin: 0;
    }
  }

  @include breakpoint(small only) {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
