@import '../../styles/main';

.button {

  .login-button {
    @include cblhub-button;
  }

  .menu {
    position: relative;

    &-button {
      display: flex;
      align-items: center;
      outline: none;
      cursor: pointer;
      padding: $global-padding/2;

      &:hover, &[aria-expanded=true] {
        background-color: $light-gray;
      }

      & > * {
        margin-right: $global-margin/4;
      }

      img {
        border: 1px solid $dark-gray;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: $global-margin/2;
      }
    }

    &-content {
      position: absolute;
      background-color: $white;
      width: 100%;
      border: 1px solid $medium-gray;

      & > * {
        padding: $global-padding/2;
        cursor: pointer;

        &:hover, &:focus {
          background-color: $light-gray;
        }
      }
    }
  }
}
