@import '../../styles/main';

.link {
  display: inline-block;
  font-size: .8rem;
  padding: rem-calc($global-padding/4 $global-padding/2);
  background-color: $light-gray;
  border: 1px solid $medium-gray;
  color: lighten($black, 20%) !important;

  &:hover {
    background-color: $medium-gray;
  }
}
